@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

html {
  background: #50a3a2;
  background: -webkit-linear-gradient(top left, #50a3a2 0%, #78cc6d 100%);
  background: linear-gradient(to bottom right, #50a3a2 0%, #78cc6d 100%);
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Poppins', 'sans-serif';
}
