.navigation {
  margin-right: 8px;
  text-align: center;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  width: 100%;
  color: #323232;
}

.navigationItem {
  width: 72px;
  position: relative;
}

.navigationItem:first-child a {
  border-radius: 4px 0px 0 4px;
}

.navigationItem:last-child a {
  border-radius: 0 4px 4px 0px;
}

.navigationItem:not(:first-child):before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: auto;
  width: 100%;
  height: 1px;
  background: -moz-radial-gradient(
    right,
    ellipse cover,
    #dddddd 0%,
    rgba(255, 255, 255, 0) 70%
  );
  background: -webkit-radial-gradient(
    right,
    ellipse cover,
    #dddddd 0%,
    rgba(255, 255, 255, 0) 70%
  );
  z-index: 1;
}

.title {
  display: block;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  line-height: 13px;
  font-size: 12px;
}

.icon {
  margin: 0 auto;
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 40px;
  height: 30px;
  font-size: 18px;
  line-height: 30px;
}

@media screen and (min-device-width: 768px) {
  .navigation {
    flex-direction: column;
    justify-content: start;
    width: 75px;
  }

  .navigationItem:first-child a {
    border-radius: 4px 4px 0 0;
  }

  .navigationItem:last-child a {
    border-radius: 0 0 4px 4px;
  }
}
